#mainApp{
    background: linear-gradient(purple, black);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h3{
    color: aliceblue;
}

p{
    color: aliceblue;
}
